.choice {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: inline-block;
    background-image: url('../images/question.png');
    opacity: 0.5;
    position: relative;
}

#game {
    visibility: hide;
}

.button {
    margin: auto;
}
